[submodule "layers/emacs-bash-completion"]
	path = layers/emacs-bash-completion
	url = git@github.com:szermatt/emacs-bash-completion.git
[submodule "layers/acscope"]
	path = layers/acscope
	url = git@github.com:JulienMasson/acscope.git
